body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.columns{
  margin-left: 20%;
}

.marginTable{
  margin-top: 10%;
}

.divTable{
  height: 190px;
}

table > tbody > tr > td.acoes > button{
  margin-right: 10px;
}

.btnPagination:disabled{
  color: #333;
  cursor: not-allowed
}

.btnPagination:disabled:hover{
  background-color: transparent;
}
